@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.conten{
    position: absolute;
    width: 400px;
    height: 425px;
    left: 0px;
    top: 0px;
    background: #292D32;
    box-shadow: -8px -8px 10px #30343A, 8px 8px 10px #24262C;
    border-radius: 12px;
    padding: 20px;
}
img{
    /* position: static; */
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form{
    margin-top: 30px;
}
.form-control{
    margin-top: 10px;
}
label{
    position: static;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #D7D7D7;
    letter-spacing: 0.04em;
}

input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    position: static;
    width: 350px;
    height: 20px;
    left: 0px;
    top: 22px;
    background: #292D32;
    box-shadow: inset -8px -8px 10px #30343A, inset 8px 8px 10px #24262C;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    color: #D7D7D7;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
button{
    position: absolute;
    width: 395px;
    height: 40px;
    left: 20px;
    top: 350px;
    background: #292D32;
    box-shadow: -8px -8px 10px #30343A, 8px 8px 10px #24262C;
    border-radius: 8px;
    color: #D7D7D7;
    text-transform: uppercase;

}
